{% extends 'base.html.twig' %}
{% block title %}Detalle de Siniestro {{ siniestro.id }}{% endblock %}

{% block body %}
    <h1>Detalle de Siniestro {{ siniestro.id }}</h1>
    <a href="{{ path('app_siniestro_detalle_new', { id: siniestro.id }) }}" class="btn btn-secondary mt-3">Agregar detalle</a>
{% endblock %}