{% extends 'base.html.twig' %}

{% block title %}Reporte de Víctimas y Autores{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Distribución de Víctimas y Autores</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <div style="max-width: 600px; margin: 0 auto;">
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>

    <div class="text-center mt-4 card-footer bg-light d-flex ">
        <a href="{{ path('siniestro_index') }}" class="btn btn-secondary">
            ← Volver a Siniestros
        </a>
        <a href="{{ path('siniestro_reportes_anio') }}" class="btn btn-outline-success me-2">
            <i class="bi bi-calendar3"></i> Ver por Año
        </a>
        <a href="{{ path('siniestro_reportes_mes') }}" class="btn btn-outline-info">
            <i class="bi bi-calendar-month"></i> Ver por Mes
        </a>
    </div>
</div>
{% endblock %}
