routes:
  "https://{default}/":
    type: upstream
    upstream: "app:http"

services:
  mysql:
    type: mariadb:10.4

applications:
  app:
    type: "php:8.3"

    source:
      root: "/"

    mounts:
      "/var": "shared:files/var"
      "/var/cache": { source: instance, source_path: var/cache }
      "/var/share": { source: storage, source_path: var/share }

    relationships:
      database: "mysql:mysql"

    web:
      locations:
        "/":
          root: "public"
          index: ["index.php"]
          scripts: true
          passthru: "/index.php"
          expires: 1h

    runtime:
      extensions:
        - apcu
        - ctype
        - iconv
        - mbstring
        - pdo_mysql
        - sodium
        - xsl

    variables:
      php:
        opcache.preload: config/preload.php
      env:
        DATABASE_URL: "mysql://mysql:mysql@database.internal:3306/main"

    build:
      flavor: none

    hooks:
      build: |
        set -e
        composer install --no-dev --optimize-autoloader
      deploy: |
        php bin/console doctrine:migrations:migrate --no-interaction

    crons:
      security-check:
        spec: '50 23 * * *'
        cmd: if [ "$PLATFORM_ENVIRONMENT_TYPE" = "production" ]; then croncape COMPOSER_ROOT_VERSION=1.0.0 COMPOSER_AUDIT_ABANDONED=ignore composer audit --no-cache; fi
      clean-expired-sessions:
        spec: '17,47 * * * *'
        cmd: croncape php-session-clean

    workers:
      messenger:
        commands:
          start: symfony console --time-limit=3600 --memory-limit=64M messenger:consume async
