{% extends 'base.html.twig' %}

{% block title %}Personas{% endblock %}

{% block body %}
    <h1>Lista de personas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.nombre }}</td>
                <td>
                    <a href="{{ path('persona_edit', {'id': persona.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron personas.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('persona_new') }}">Registrar persona</a>
{% endblock %}
